@charset "UTF-8";
body {
  background-color: darkslategray;
}
 
#wrap {
  width: 960px;
  margin: auto;
  background-color: lightsteelblue;
}
 
header {
  padding: 40px;
  height: 80px;
}
 
nav {
  padding: 8px 40px;
  background-color: #66A5AD;
  color: black;
}
 
main {
  padding: 40px;
  height : 400px;
}
 
footer {
  padding: 40px;
  height: 40px;
  background-color : #66A5AD;
  color: black;
}


.page-title {color: blue;}

a {
  color: royalblue;
  text-decoration: none;
}

a:visited {
  color: rgb(5, 137, 161);
}

a:hover {
  color: orange;
}
a:active {
color: aqua;
}
table{
  width: 100%;
}

table tr:nth-of-type(even) {
  background-color: rgb(137, 164, 180);
}